In [1]:
import json
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
# Load in the data
metaPath = 'Data/meta_Magazine_Subscriptions.json'
reviewPath = 'Data/Magazine_Subscriptions.json'

metaData = []
reviewData = []

for line in open(metaPath, 'r'):
    metaData.append(json.loads(line))
    
for line in open(reviewPath, 'r'):
    reviewData.append(json.loads(line))

In [3]:
# convert metadata into pandas dataframe

metaDF = pd.DataFrame.from_dict(metaData)
metaDF.head()

,category,tech1,description,fit,title,also_buy,tech2,brand,feature,rank,also_view,details,main_cat,similar_item,date,price,asin,imageURL,imageURLHighRes
0,"[Magazine Subscriptions, Professional & Educat...",,[REASON is edited for people interested in eco...,,"<span class=""a-size-medium a-color-secondary""","[B002PXVYLE, B01MCU84LB, B000UHI2LW, B01AKS14A...",,Reason Magazine,[],[],"[B002PXVYLE, B000UHI2LW, B01MCU84LB, B002PXW18...","{'Format:': 'Print Magazine', 'Shipping: ': 'C...",Magazine Subscriptions,,,,B00005N7NQ,[https://images-na.ssl-images-amazon.com/image...,[https://images-na.ssl-images-amazon.com/image...
1,"[Magazine Subscriptions, Arts, Music &amp; Pho...",,[Written by and for musicians. Covers a variet...,,"<span class=""a-size-medium a-color-secondary""","[B002PXVYGE, B0054LRNC8, B000BVEELE, B00006KC3...",,String Letter Publishers,[],742 in Magazine Subscriptions (,"[B002PXVYGE, B0054LRNC8, B00006L16A, 171906487...","{'Format:': 'Print Magazine', 'Shipping: ': 'C...",Magazine Subscriptions,,,,B00005N7OC,[https://images-na.ssl-images-amazon.com/image...,[https://images-na.ssl-images-amazon.com/image...
2,"[Magazine Subscriptions, Fashion &amp; Style, ...",,[Allure is the beauty expert. Every issue is f...,,"<span class=""a-size-medium a-color-secondary""","[B001THPA4O, B002PXVZWW, B001THPA1M, B001THPA1...",,Conde Nast Publications,[],[],"[B002PXVZWW, B001THPA4O, B001THPA1M, B01N819UD...","{'Format:': 'Print Magazine', 'Shipping: ': 'C...",Magazine Subscriptions,,,,B00005N7OD,[https://images-na.ssl-images-amazon.com/image...,[https://images-na.ssl-images-amazon.com/image...
3,"[Magazine Subscriptions, Sports, Recreation & ...",,[FLIGHT JOURNAL includes articles on aviation ...,,"<span class=""a-size-medium a-color-secondary""","[B07JVF7QW4, B00ATQ6FPY, B002G551F6, B00008CGW...",,AirAge Publishing,[],[],"[B002G551F6, B00ATQ6FPY, B00005N7PT, B001THPA2...","{'Format:': 'Print Magazine', 'Shipping: ': 'C...",Magazine Subscriptions,,,,B00005N7O9,[https://images-na.ssl-images-amazon.com/image...,[https://images-na.ssl-images-amazon.com/image...
4,"[Magazine Subscriptions, Professional & Educat...",,[RIDER is published for the road and street ri...,,"<span class=""a-size-medium a-color-secondary""","[B002PXVYD2, B01BM7TOU6, B000060MKJ, B000BNNIG...",,EPG Media & Specialty Information,[],[],"[B01BM7TOU6, B000060MKJ, B002PXVYD2, B000BNNIG...","{'Format:': 'Print Magazine', 'Shipping: ': 'C...",Magazine Subscriptions,,,,B00005N7O6,[https://images-na.ssl-images-amazon.com/image...,[https://images-na.ssl-images-amazon.com/image...

In [4]:
# convert reviews data into pandas dataframe

reviewDF = pd.DataFrame.from_dict(reviewData)
reviewDF.head()

,overall,vote,verified,reviewTime,reviewerID,asin,reviewerName,reviewText,summary,unixReviewTime,style,image
0,5.0,9,False,"11 8, 2001",AH2IFH762VY5U,B00005N7P0,ted sedlmayr,"for computer enthusiast, MaxPC is a welcome si...","AVID READER SINCE ""boot"" WAS THE NAME",1005177600,NaN,NaN
1,5.0,9,False,"10 31, 2001",AOSFI0JEYU4XM,B00005N7P0,Amazon Customer,Thank god this is not a Ziff Davis publication...,The straight scoop,1004486400,NaN,NaN
2,3.0,14,False,"03 24, 2007",A3JPFWKS83R49V,B00005N7OJ,Bryan Carey,Antiques Magazine is a publication made for an...,"Antiques Magazine is Good, but not for Everyone",1174694400,{'Format:': ' Print Magazine'},NaN
3,5.0,13,False,"11 10, 2006",A19FKU6JZQ2ECJ,B00005N7OJ,Patricia L. Porada,This beautiful magazine is in itself a work of...,THE DISCERNING READER,1163116800,{'Format:': ' Print Magazine'},NaN
4,5.0,NaN,True,"07 14, 2014",A25MDGOMZ2GALN,B00005N7P0,Alvey,A great read every issue.,Five Stars,1405296000,NaN,NaN

In [5]:
# Drop duplicates

#convert dataframe values to string in order to use drop_duplicates method
metaDF = metaDF.astype(str)
reviewDF = reviewDF.astype(str)

metaDF = metaDF.drop_duplicates()
reviewDF = reviewDF.drop_duplicates()

In [6]:
#check how many products, reviews and reviewers there are
print('There are {} unique products and {} unique reviews made by {} unique reviewers'.format(
    len(metaDF['asin'].unique()), len(reviewDF), len(reviewDF['reviewerID'].unique())
))

There are 2320 unique products and 88496 unique reviews made by 72098 unique reviewers

# Product Data

In [7]:
metaDF.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2320 entries, 0 to 3384
Data columns (total 19 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   category         2320 non-null   object
 1   tech1            2320 non-null   object
 2   description      2320 non-null   object
 3   fit              2320 non-null   object
 4   title            2320 non-null   object
 5   also_buy         2320 non-null   object
 6   tech2            2320 non-null   object
 7   brand            2320 non-null   object
 8   feature          2320 non-null   object
 9   rank             2320 non-null   object
 10  also_view        2320 non-null   object
 11  details          2320 non-null   object
 12  main_cat         2320 non-null   object
 13  similar_item     2320 non-null   object
 14  date             2320 non-null   object
 15  price            2320 non-null   object
 16  asin             2320 non-null   object
 17  imageURL         2320 non-null   object
 18  imageURLHighRes  2320 non-null   object
dtypes: object(19)
memory usage: 362.5+ KB

## Category

In [8]:
pd.DataFrame(metaDF.category.value_counts())

                                                    category
[]                                                       442
['Magazine Subscriptions', 'Lifestyle & Cultures']        64
['Magazine Subscriptions', 'Fashion & Style', '...        43
['Magazine Subscriptions', 'Professional & Educ...        42
['Magazine Subscriptions', 'Travel, City & Regi...        39
...                                                      ...
['Magazine Subscriptions', 'News &amp; Politica...         1
['Magazine Subscriptions', 'Fashion &amp; Style...         1
['Magazine Subscriptions', 'Parenting & Familie...         1
['Magazine Subscriptions', 'Children &amp; Teen...         1
['Magazine Subscriptions', 'Fashion &amp; Style...         1

[298 rows x 1 columns]

In [9]:
# Fill empty categories with empty string
metaDF['category'] = metaDF['category'].apply(lambda x: '' if x == '[]' else x)

In [10]:
import html
metaDF['category'] = metaDF[['category']].applymap(html.unescape)

In [11]:
pd.DataFrame(metaDF.category.value_counts())

                                                    category
                                                         442
['Magazine Subscriptions', 'Lifestyle & Cultures']        66
['Magazine Subscriptions', 'Professional & Educ...        55
['Magazine Subscriptions', 'Professional & Educ...        55
['Magazine Subscriptions', 'Travel, City & Regi...        50
...                                                      ...
['Magazine Subscriptions', 'Sports, Recreation ...         1
['Magazine Subscriptions', "Women's Interest", ...         1
['Magazine Subscriptions', 'Religion & Spiritua...         1
['Magazine Subscriptions', 'Sports, Recreation ...         1
['Magazine Subscriptions', 'Children & Teen', '...         1

[188 rows x 1 columns]

In [12]:
metaDF.category

0       ['Magazine Subscriptions', 'Professional & Edu...
1       ['Magazine Subscriptions', 'Arts, Music & Phot...
2       ['Magazine Subscriptions', 'Fashion & Style', ...
3       ['Magazine Subscriptions', 'Sports, Recreation...
4       ['Magazine Subscriptions', 'Professional & Edu...
                              ...
3380
3381    ['Magazine Subscriptions', 'Sports, Recreation...
3382        ['Magazine Subscriptions', 'Fashion & Style']
3383
3384
Name: category, Length: 2320, dtype: object

In [13]:
from ast import literal_eval
metaDF.category = metaDF.category.apply(lambda x: literal_eval(x) if x else x)

In [14]:
temp = metaDF.category.apply(lambda x : x.remove('Magazine Subscriptions') if 'Magazine Subscriptions' in x else x)

In [15]:
metaDF.category

0       [Professional & Educational Journals, Professi...
1                      [Arts, Music & Photography, Music]
2                                [Fashion & Style, Women]
3       [Sports, Recreation & Outdoors, Sports & Leisu...
4       [Professional & Educational Journals, Professi...
                              ...
3380
3381    [Sports, Recreation & Outdoors, Sports & Leisu...
3382                                    [Fashion & Style]
3383
3384
Name: category, Length: 2320, dtype: object

In [16]:
categories = pd.DataFrame(metaDF.category.explode())
cat_counts = pd.DataFrame(categories.groupby('category').size()).reset_index()
cat_counts.columns = ['category', 'count']
cat_counts.sort_values('count', ascending = False)

                                category  count
133  Professional & Educational Journals    497
134                 Professional & Trade    491
0                                           442
159        Sports, Recreation & Outdoors    232
158                     Sports & Leisure    222
..                                   ...    ...
132               Pregnancy & Childbirth      1
138                        Racket Sports      1
144                               Rodeos      1
150                     Self-Improvement      1
89                               Judaism      1

[178 rows x 2 columns]

## Main category

In [17]:
pd.DataFrame(metaDF.main_cat.value_counts())

                        main_cat
Magazine Subscriptions      2320

In [18]:
metaDF = metaDF.drop(columns = 'main_cat')

## Technical detail tables

In [19]:
pd.DataFrame(metaDF.tech1.value_counts())

  tech1
   2320

In [20]:
pd.DataFrame(metaDF.tech2.value_counts())

  tech2
   2320

In [21]:
metaDF = metaDF.drop(columns = ['tech1', 'tech2'])

## Description

In [22]:
metaDF['description'] = metaDF[['description']].applymap(html.unescape)

In [23]:
pd.DataFrame(metaDF.description.value_counts())

                                                    description
[]                                                          354
["Satisfy your passion for stylish living and p...           13
['Popular Mechanics directly aligns with the mi...           13
["O, The Oprah Magazine gives confident, smart ...           13
['Country Living is your guide to creating the ...           11
...                                                         ...
['Technical articles on traffic collision inves...            1
['Elle Dcor focuses on the synergy between fash...            1
["A sportsman's guide to hunting and fishing in...            1
['This is a BBC published automotive magazine. ...            1
['Covers African-American hair fashion.']                     1

[1667 rows x 1 columns]

There are 1666 unique product descriptions, this will be useful.  Let's fill the empty descriptions with an empty string.

In [24]:
metaDF['description'] = metaDF['description'].apply(lambda x: '' if x == '[]' else x)

## Fit

In [25]:
pd.DataFrame(metaDF.fit.value_counts())

   fit
  2320

In [26]:
metaDF = metaDF.drop(columns = 'fit')

## Title

In [27]:
metaDF['title'] = metaDF[['title']].applymap(html.unescape)
metaDF['title'] = metaDF[['title']].apply(lambda x: x.str.strip() if x.dtype == "object" else x)

In [28]:
pd.DataFrame(metaDF.title.value_counts())

                                                    title
<span class="a-size-medium a-color-secondary"        2163
Magazines" />                                          10
Cmyk Magazine                                           1
Diabetic Cooking                                        1
Import Tuner                                            1
...                                                   ...
Camcorder & Computer Video                              1
New Moon: the Magazine for Girls & Their Dreams         1
Soap Opera Weekly                                       1
Us Weekly Magazine, Issue 934, January 7, 2013,...      1
Lego Club Magazine May-june 2014                        1

[149 rows x 1 columns]

Check that magazine subscriptions with useless title have at least one of: 'brand', 'description' or 'category' filled in.

In [29]:
metaDF[(metaDF.title == '<span class="a-size-medium a-color-secondary"') & (metaDF.brand == '') & (metaDF.description == '') & (metaDF.category == '')]

Empty DataFrame
Columns: [category, description, title, also_buy, brand, feature, rank, also_view, details, similar_item, date, price, asin, imageURL, imageURLHighRes]
Index: []

In [30]:
metaDF[(metaDF.title == 'Magazines" />') & (metaDF.brand == '') & (metaDF.description == '') & (metaDF.category == '')]

Empty DataFrame
Columns: [category, description, title, also_buy, brand, feature, rank, also_view, details, similar_item, date, price, asin, imageURL, imageURLHighRes]
Index: []

In [31]:
metaDF['title'] = metaDF['title'].apply(lambda x: '' if (x in ['<span class="a-size-medium a-color-secondary"', 'Magazines" />']) else x)

In [33]:
pd.DataFrame(metaDF.title.value_counts())

                                                    title
                                                     2173
Entertainment Weekly, August 22-29, 2014-Robin ...      1
Fortean Times                                           1
Essence (1-year)                                        1
Import Tuner                                            1
...                                                   ...
4wd - Four Wheel Drive                                  1
Camcorder & Computer Video                              1
New Moon: the Magazine for Girls & Their Dreams         1
Soap Opera Weekly                                       1
Lego Club Magazine May-june 2014                        1

[148 rows x 1 columns]

There are 147 unique magazine titles.

## Also buy

In [36]:
metaDF = metaDF.drop(columns = 'also_buy')

## Brand

In [38]:
metaDF['brand'] = metaDF[['brand']].applymap(html.unescape)
metaDF['brand'] = metaDF[['brand']].apply(lambda x: x.str.strip() if x.dtype == "object" else x)

In [39]:
pd.DataFrame(metaDF.brand.value_counts())

                                brand
Hearst Magazines                  255
Conde Nast                        184
                                  147
Meredith                           48
Bonnier Corporation                43
...                               ...
Keck Media                          1
America Press Inc                   1
Basketball Times %John Akers        1
Northwest Chess % Eric Holcomb      1
San Diego Magazine LLC              1

[943 rows x 1 columns]

## Feature

In [42]:
pd.DataFrame(metaDF.feature.value_counts())

    feature
[]     2320

In [43]:
metaDF = metaDF.drop(columns = 'feature')

## Rank

In [46]:
pd.set_option('display.max_rows', 20)
pd.DataFrame(metaDF['rank'].value_counts())

                                   rank
[]                                 1057
350 in Magazine Subscriptions (       4
705 in Magazine Subscriptions (       3
1,508 in Magazine Subscriptions (     3
654 in Magazine Subscriptions (       3
...                                 ...
1,686 in Magazine Subscriptions (     1
382 in Magazine Subscriptions (       1
8,350 in Magazine Subscriptions (     1
1,207 in Magazine Subscriptions (     1
1,511 in Magazine Subscriptions (     1

[1057 rows x 1 columns]

In [47]:
metaDF = metaDF.drop(columns = 'rank')

## Also view

In [48]:
pd.DataFrame(metaDF.also_view.value_counts())

                                                    also_view
[]                                                       1018
['B00005NIOH']                                              2
['B00VQTC94E']                                              2
['B00S8SNO6I']                                              2
['B001TP73UU']                                              2
...                                                       ...
['B00006KYVC']                                              1
['B002PXW1D4', 'B01BM7TOU6', 'B000SKWFL4', 'B00...          1
['B01FV51XLI', 'B002CT513S', 'B002BFZ9NA', 'B00...          1
['0806989939', '1508831661', '1402774575', '198...          1
['B003K195WA', 'B002CT51EM', 'B003K195Y8', 'B00...          1

[1291 rows x 1 columns]

In [49]:
metaDF = metaDF.drop(columns = 'also_view')

## Details

In [50]:
pd.DataFrame(metaDF.details.value_counts())

                                                    details
{'Format:': 'Print Magazine', 'Shipping: ': 'Cu...        2
{'Format:': 'Print Magazine', 'Shipping: ': 'Cu...        2
{'Format:': 'Print Magazine', 'Shipping: ': 'Cu...        2
{'Format:': 'Print Magazine', 'Shipping: ': 'Cu...        2
{'Format:': 'Print Magazine', 'Shipping: ': 'Cu...        2
...                                                     ...
{'Format:': 'Print Magazine', 'Shipping: ': 'Cu...        1
{'Format:': 'Print Magazine', 'Shipping: ': 'Cu...        1
{'Format:': 'Print Magazine', 'Shipping: ': 'Cu...        1
{'Format:': 'Print Magazine', 'Shipping: ': 'Cu...        1
{'Format:': 'Print Magazine', 'Shipping: ': 'Cu...        1

[2311 rows x 1 columns]

In [51]:
detailsDF = metaDF['details'].map(eval).apply(pd.Series)

In [52]:
detailsDF.head()

,Format:,Shipping:,Publisher:,ASIN:
0,Print Magazine,"Currently, item can be shipped only within the...",Reason Magazine,B00005N7NQ
1,Print Magazine,"Currently, item can be shipped only within the...",String Letter Publishers,B00005N7OC
2,Print Magazine,"Currently, item can be shipped only within the...",Conde Nast Publications,B00005N7OD
3,Print Magazine,"Currently, item can be shipped only within the...",AirAge Publishing,B00005N7O9
4,Print Magazine,"Currently, item can be shipped only within the...",EPG Media & Specialty Information,B00005N7O6

In [53]:
detailsDF = detailsDF.rename(columns = lambda x: x.strip()[:-1])

In [54]:
detailsDF['Format'].value_counts(dropna = False)

Print Magazine           2166
NaN                       148
Single Issue Magazine       3
DVD                         1
Unknown Binding             1
Perfect Paperback           1
Name: Format, dtype: int64

In [55]:
detailsDF['Publisher'].value_counts(dropna = False)

Hearst Magazines                255
Conde Nast                      184
NaN                             147
Meredith                         48
Bonnier Corporation              43
                               ...
Meine Familie Und Ich Verlag      1
Keck Media                        1
America Press Inc                 1
Basketball Times %John Akers      1
Aperture                          1
Name: Publisher, Length: 943, dtype: int64

In [56]:
detailsDF['Shipping'].value_counts(dropna = False)

Currently, item can be shipped only within the U.S.    2320
Name: Shipping, dtype: int64

In [57]:
detailsDF['ASIN'].value_counts(dropna = False)

B00007AXX1    2
B00005NIRG    2
B0000633EA    2
B000FTJ7JQ    2
B00005N7O9    2
             ..
B01DAP1UT6    1
B00TGFD3H2    1
B01705ZPWA    1
B000INAYI2    1
B000060ML6    1
Name: ASIN, Length: 2311, dtype: int64

In [58]:
metaDF = metaDF.drop(columns = 'details')

## Similar item

In [59]:
pd.DataFrame(metaDF.similar_item.value_counts())

  similar_item
          2320

In [60]:
metaDF = metaDF.drop(columns = 'similar_item')

## Date

In [61]:
pd.DataFrame(metaDF.date.value_counts())

  date
  2320

In [62]:
metaDF = metaDF.drop(columns = 'date')

## Price

In [63]:
pd.DataFrame(metaDF.price.value_counts())

                                                    price
                                                     2304
.a-box-inner{background-color:#fff}#alohaBuyBox...     15
\n\n\n<script                                           1

In [64]:
metaDF = metaDF.drop(columns = ['price', 'imageURL', 'imageURLHighRes'])

# Reviews data

In [65]:
reviewDF.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 88496 entries, 0 to 89688
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   overall         88496 non-null  object
 1   vote            88496 non-null  object
 2   verified        88496 non-null  object
 3   reviewTime      88496 non-null  object
 4   reviewerID      88496 non-null  object
 5   asin            88496 non-null  object
 6   reviewerName    88496 non-null  object
 7   reviewText      88496 non-null  object
 8   summary         88496 non-null  object
 9   unixReviewTime  88496 non-null  object
 10  style           88496 non-null  object
 11  image           88496 non-null  object
dtypes: object(12)
memory usage: 8.8+ MB

In [66]:
reviewDF = reviewDF[['overall', 'reviewerID', 'asin']]
reviewDF

      overall      reviewerID        asin
0         5.0   AH2IFH762VY5U  B00005N7P0
1         5.0   AOSFI0JEYU4XM  B00005N7P0
2         3.0  A3JPFWKS83R49V  B00005N7OJ
3         5.0  A19FKU6JZQ2ECJ  B00005N7OJ
4         5.0  A25MDGOMZ2GALN  B00005N7P0
...       ...             ...         ...
89684     5.0   AB5HCI50SF1TK  B01HI8V1C2
89685     1.0  A2X11NZMPI7M0T  B01HI8V1C2
89686     5.0  A3EGFFBRQVO7L7  B01HI8V1C2
89687     5.0  A3H23AVKFN62ZT  B01HIZSSQM
89688     5.0  A1N6M7HRWMDE3D  B01HIZSSQM

[88496 rows x 3 columns]

In [67]:
reviewDF.asin.nunique()

2428

There are some reviewed products that are not in the products meta.  Let's remove these reviews.

In [68]:
reviewDF = reviewDF[reviewDF.asin.isin(metaDF.asin)]

# Cleaned Datasets

In [69]:
metaDF.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2320 entries, 0 to 3384
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   category     2320 non-null   object
 1   description  2320 non-null   object
 2   title        2320 non-null   object
 3   brand        2320 non-null   object
 4   asin         2320 non-null   object
dtypes: object(5)
memory usage: 173.3+ KB

In [70]:
reviewDF.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 84167 entries, 0 to 89686
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   overall     84167 non-null  object
 1   reviewerID  84167 non-null  object
 2   asin        84167 non-null  object
dtypes: object(3)
memory usage: 2.6+ MB

In [71]:
# Output cleaned dataframes
metaDF.convert_dtypes().to_csv(r'Data/cleanedMeta.csv', index = True, header=True)
reviewDF.convert_dtypes().to_csv(r'Data/cleanedReviews.csv', index = True, header=True)